<div class="grid landing">
    <h1>Encuentra <span class="txt__red">Developers</span>  <br>para tus proyectos</h1>
    <p class="txt__grey">Encuentra al talento que necesitas</p>
    <base-btn></base-btn>
    <h2>Ellos <span class="txt__red txt__wavy">confian</span> en nosotros</h2>
    <section>
        <div>
            <h1 class="txt__left">Abriendo <br> <span class="txt__red">oportunidades</span>  al <span class="txt__red"> <br>talento</span> emergente</h1>
            <p class="txt__grey">Encuentra al talento que necesitas Encuentra al talento que necesitas Encuentra al talento que necesitas Encuentra al talento que necesitas</p>
            <button>Registrate</button>
        </div>
        <div>
            <img src="../../../assets/Rectangle 1.png" alt="">
        </div>
    </section>
</div>